---
eleventyComputed:
  title: '<%= site.title %>'
---
<div class="flex flex-1 justify-center items-center mb-12 text-center">
  <div>
    <h1 class="title text-6xl md:text-9xl font-extrabold bg-teal-900">Nicolas Kleiderer</h1>
    <p class="text-2xl font-semibold">Engineering Culture.</p>
  </div>
</div>