:host {
  /* display: inline-block; */
  /* width: 100%;
  height: 100%; */
  box-sizing: border-box;

  --spacing-ratio: 2;
  --spacing-base: 1rem;
  --spacing-s: calc(var(--spacing-m) / var(--spacing-ratio));
  --spacing-m: var(--spacing-base);
  --spacing-l: calc(var(--spacing-m) * var(--spacing-ratio));
  --spacing-xl: calc(var(--spacing-l) * var(--spacing-ratio));
  --spacing-xxl: calc(var(--spacing-xl) * var(--spacing-ratio));
  --spacing-base: 0.75rem;
}

* {
  box-sizing: border-box;
}

/* Stack */
.spacing-stack-s {
  margin-bottom: var(--spacing-s);
}

.spacing-stack-m {
  margin-bottom: var(--spacing-m);
}

.spacing-stack-l {
  margin-bottom: var(--spacing-l);
}

.spacing-stack-xl {
  margin-bottom: var(--spacing-xl);
}

.spacing-stack-xxl {
  margin-bottom: var(--spacing-xxl);
}

/* Inline */
.spacing-inline-s {
  margin-right: var(--spacing-s);
}

.spacing-inline-m {
  margin-right: var(--spacing-m);
}

.spacing-inline-l {
  margin-right: var(--spacing-l);
}

.spacing-inline-xl {
  margin-right: var(--spacing-xl);
}

.spacing-inline-xxl {
  margin-right: var(--spacing-xxl);
}

/* Inset */
.spacing-inset-s {
  padding: var(--spacing-s);
}

.spacing-inset-m {
  padding: var(--spacing-m);
}

.spacing-inset-l {
  padding: var(--spacing-l);
}

.spacing-inset-xl {
  padding: var(--spacing-xl);
}

.spacing-inset-xxl {
  padding: var(--spacing-xxl);
}

/* Inset Squish */
.spacing-inset-squish-s {
  padding: calc(var(--spacing-s) / var(--spacing-ratio)) var(--spacing-s);
}

.spacing-inset-squish-m {
  padding: calc(var(--spacing-m) / var(--spacing-ratio)) var(--spacing-m);
}

.spacing-inset-squish-l {
  padding: calc(var(--spacing-l) / var(--spacing-ratio)) var(--spacing-l);
}

.spacing-inset-squish-xl {
  padding: calc(var(--spacing-xl) / var(--spacing-ratio)) var(--spacing-xl);
}

.spacing-inset-squish-xxl {
  padding: calc(var(--spacing-xxl) / var(--spacing-ratio)) var(--spacing-xxl);
}

/* Inset Stretch */
.spacing-inset-stretch-s {
  padding: var(--spacing-s) calc(var(--spacing-s) / var(--spacing-ratio));
}

.spacing-inset-stretch-m {
  padding: var(--spacing-m) calc(var(--spacing-m) / var(--spacing-ratio));
}

.spacing-inset-stretch-l {
  padding: var(--spacing-l) calc(var(--spacing-l) / var(--spacing-ratio));
}

.spacing-inset-stretch-xl {
  padding: var(--spacing-xl) calc(var(--spacing-xl) / var(--spacing-ratio));
}

.spacing-inset-stretch-xxl {
  padding: var(--spacing-xxl) calc(var(--spacing-xxl) / var(--spacing-ratio));
}
