.LayoutArticle {
  @include u-measure("copy");

  & > h1 + p:first-letter {
    @include u-font-family(alternate);
    @include u-font-size(4);
    @include u-font-weight(semi-bold);
    line-height: 0;
  }

  & > p + p {
    text-indent: var(--text-indent);
  }

  & > blockquote {
    border-left: var(--spacing-s) solid var(--color-gray-30);
    margin: 0;
    padding-left: var(--spacing-m);
  }
}
