.LayoutPrimary {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &-header {
    @include u-measure("full");
    @include u-spacing("inset", "l");
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    > a {
        border-bottom: none;
    }
  }

  &-logo {
    @include u-spacing("inline", "m");
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }

  &-content {
    @include u-measure("full");
    @include u-spacing("inset-squish", "l");
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
  }

  &-footer {
    @include u-spacing("inset", "l");
    margin: 0 auto;
    width: 100%;
    max-width: var(--site-max-width);
  }

  &-copyright {
    @include u-color("gray-70");
    text-align: center;
    margin: 0;
  }
}
