:root {
  --k-color-red-50: #F24536;

  --k-color-purple-70: #494472;
  --k-color-purple-80: #1e2759;
  --k-color-purple-90: #182240;

  --k-color-gray-10: #f2f2f2;
  --k-color-gray-50: #707f8c;
  --k-color-gray-90: #1c2126;

  --k-color-black: #000;
  --k-color-white: #fff;
}

body {
  --k-theme-primary: var(--k-color-purple-70);
  --k-theme-primary-contrast: var(--k-color-gray-10);

  --k-theme-alternate: var(--k-color-red-50);
  --k-theme-alternate-contrast: var(--k-color-gray-10);
}
