:host {
  display: inline-block;
  border: 0.5px solid transparent;
  /* width: 100%; */
  /* margin: 0 auto; */

  --font-family-primary: "Work Sans", sans-serif;
  --font-family-alternate: "Rokkitt";

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;

  --measure-m: 55ch;
  --measure-l: 70ch;
}

.text::before,
.text::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
}

.text {
  margin: 0;
  padding: 0;
  line-height: var(--line-height);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  word-wrap: break-word;
  hyphens: auto;

  --top-adjustment: 0px;
  --bottom-adjustment: 0px;
  --line-height: 1.618;

  --top-crop: 14;
  --bottom-crop: 14;
  --crop-font-size: 80;
  --crop-line-height: 1;

  --dynamic-top-crop: calc(
    max(
        var(--top-crop) + (var(--line-height) - var(--crop-line-height)) *
          var(--crop-font-size) / 2,
        0
      ) / var(--crop-font-size)
  );

  --dynamic-bottom-crop: calc(
    max(
        var(--bottom-crop) + (var(--line-height) - var(--crop-line-height)) *
          var(--crop-font-size) / 2,
        0
      ) / var(--crop-font-size)
  );
}

.text--alternate {
  --line-height: 1;
  --top-crop: 15;
  --bottom-crop: 21;
  --crop-font-size: 80;
  --crop-line-height: 1;
}

.text::before {
  margin-bottom: calc(var(--dynamic-top-crop) * -1em + var(--top-adjustment));
}

.text::after {
  margin-top: calc(
    var(--dynamic-bottom-crop) * -1em + var(--bottom-adjustment)
  );
}

.body {
  line-height: 1.618;
  /* max-width: 60ch; */
  /* text-align: justify; */
}

.body--1 {
  font-size: 1.0625rem;
  letter-spacing: 0.03125rem;
}

.body--2 {
  font-size: 0.9375rem;
  letter-spacing: 0.015625rem;
}

.heading {
  line-height: 1;
  font-family: var(--font-family-alternate);
}

.heading--1 {
  font-weight: var(--font-weight-light);
  font-size: 8.025rem;
  letter-spacing: -0.09375rem;
  --bottom-adjustment: 1px;
}

.heading--2 {
  font-weight: var(--font-weight-light);
  font-size: 5rem;
  letter-spacing: -0.03125rem;
  --top-adjustment: 0.5px;
}

.heading--3 {
  font-size: 4rem;
  letter-spacing: 0;
}

.heading--4 {
  font-size: 2.8125rem;
  letter-spacing: 0.015625rem;
}

.heading--5 {
  font-size: 2rem;
  letter-spacing: 0;
}

.heading--6 {
  font-size: 1.6875rem;
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.009375rem;
}

.subtitle {
  line-height: 1;
  font-family: var(--font-family-alternate);
}

.subtitle--1 {
  font-weight: var(--font-weight-light);
  font-size: 1.3125rem;
  letter-spacing: 0.009375rem;
}

.subtitle--2 {
  font-weight: var(--font-weight-medium);
  font-size: 1.1875rem;
  letter-spacing: 0.00625rem;
}

.button {
  font-weight: var(--font-weight-medium);
  font-size: 0.9375rem;
  letter-spacing: 0.078125rem;
  text-transform: uppercase;
}

.caption {
  font-size: 0.8125rem;
  letter-spacing: 0.025rem;
}

.overline {
  font-size: 0.6875rem;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}

.measure-m {
  /* margin: 0 auto; */
  max-width: var(--measure-m);
}

.measure-l {
  /* margin: 0 auto; */
  max-width: var(--measure-l);
  /* word-wrap: break-word;
  hyphens: auto; */
}
