k-button {
  display: inline-block;
  --k-button-color-primary: var(--k-theme-primary);
  --k-button-color-primary-contrast: var(--k-theme-primary-contrast);

  --k-button-color-alternate: var(--k-theme-alternate);
  --k-button-color-alternate-contrast: var(--k-theme-alternate-contrast);

  & .primary {
    --k-button-background-color: var(--k-button-color-primary);
    --k-button-color: var(--k-button-color-primary-contrast);
  }

  & .alternate {
    --k-button-background-color: var(--k-button-color-alternate);
    --k-button-color: var(--k-button-color-alternate-contrast);
  }

  & > button {
    color: var(--k-button-color);
    border-radius: 8px;

    vertical-align: bottom;
    border: none;
    background-color: var(--k-button-background-color);
  }
}
