:root {
  --k-color-red-50: #f24536;

  --k-color-purple-70: #494472;
  --k-color-purple-80: #1e2759;
  --k-color-purple-90: #182240;

  --k-color-gray-10: #f2f2f2;
  --k-color-gray-50: #707f8c;
  --k-color-gray-90: #1c2126;

  --k-color-black: #000;
  --k-color-white: #fff;
}
