body {
  --k-theme-primary: var(--k-color-purple-70);
  --k-theme-primary-contrast: var(--k-color-gray-10);

  --k-theme-alternate: var(--k-color-red-50);
  --k-theme-alternate-contrast: var(--k-color-gray-10);
}
