$spacing-ratio: variable($spacing-prefix, ratio);
$spacing-styles: "stack", "inline", "inset", "inset-squish", "inset-stretch";

k-box {
  display: block;
}

@mixin u-spacing($style, $size) {
  $current: variable($spacing-prefix, $size);
  $size-down: calc(#{$current} / #{$spacing-ratio});

  @if $style == "stack" {
    margin-bottom: $current;
  } @else if $style == "inline" {
    margin-right: $current;
  } @else if $style == "inset" {
    padding: $current;
  } @else if $style == "inset-squish" {
    padding: $size-down $current;
  } @else if $style == "inset-stretch" {
    padding: $current $size-down;
  } @else {
    @error "Unknown style #{$style}.";
  }
}

@each $variant in $spacings {
  @each $style in $spacing-styles {
    k-box[#{$style}="#{$variant}"] {
      @include u-spacing($style, $variant);
    }

    .u-#{$spacing-prefix}-#{$style}-#{$variant} {
      @include u-spacing($style, $variant);
    }
  }
}
