@use "sass:map";

$font-size-prefix: font-size;
$font-sizes: small, 1, 2, 3, 4, 5, 6;

$font-weight-prefix: font-weight;
$font-weights: (
  "regular": 400,
  "semi-bold": 600,
  "bold": 700
);

$font-family-prefix: font-family;
$font-families: (
  "primary": '"Work Sans", sans-serif',
  "alternate": '"Rokkitt", serif'
);

:root {
  @include scale-variables(font-size, 1em, 1, 1.2, $font-sizes);
  @include map-variables($font-weight-prefix, $font-weights);
  @include map-variables($font-family-prefix, $font-families);

  --line-height: 1.618;
  --text-indent: 0;

  --font-size-base: 0.875em;

  @media (min-width: 600px) {
    --font-size-base: 1em;
  }
}

body {
  line-height: var(--line-height);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-1);
}

@include utils-for($font-size-prefix, $font-sizes, font-size);
@include utils-for($font-weight-prefix, map-keys($font-weights), font-weight);
@include utils-for($font-family-prefix, map-keys($font-families), font-family);

@mixin u-font-size($size) {
  font-size: variable($font-size-prefix, $size);
}

@mixin u-font-weight($weight) {
  font-weight: variable($font-weight-prefix, $weight);
}

@mixin u-font-family($family) {
  font-family: variable($font-family-prefix, $family);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  text-align: justify;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include u-font-family(alternate);
  text-align: center;
}

ol,
ul,
li {
  @include u-font-size(1);
}

a {
  font-weight: var(--font-weight-semi-bold);
  text-decoration: none;
}

h1 {
  @include u-font-size(6);
}

h2 {
  @include u-font-size(5);
}

h3 {
  @include u-font-size(4);
}

h4 {
  @include u-font-size(3);
  @include u-font-weight(semi-bold);
}

h5 {
  @include u-font-size(2);
  @include u-font-weight(semi-bold);
}

h6 {
  @include u-font-size(1);
  @include u-font-weight(semi-bold);
}
