@import "mixins/scale-variables";
@import "typography";
@import "spacing";
@import "color";
@import "system";
@import "measure";

@import "layouts/primary";
@import "layouts/article";

:root {
  --typography-rhythm: var(--spacing-m);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-gray-5);
  color: var(--color-gray-90);
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  margin-bottom: var(--typography-rhythm);
  color: inherit;
}

ol,
ul,
li {
  margin: 0;
  margin-bottom: var(--typography-rhythm);
}

hr {
  border: 0.5px solid var(--color-gray-40);
}

a {
  color: var(--color-gray-70);
  border-bottom: 0.5px solid var(--color-gray-40);
}

a:hover,
a:focus {
  color: var(--color-black);
  border-color: var(--color-black);
}

.u-listStyleNone {
  list-style-type: none;
  padding: 0;
}

.u-center {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    text-align: center;
  }
}
