@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  background-image: url(/assets/images/articles/ink.jpg);
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.prose img {
  @apply rounded-lg;
}

.link {
  position: relative;
  display: block;
}

.link > a {
  color: inherit;
  text-decoration: none;
}

.link > a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
